<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title> My App</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav></nav>
        <header>MY APP</header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Created by Dylan
        </footer>
    </body>
</html>